<%- include('../partials/header') %>

<h1>All habits</h1>
<table>
  <thread>
    <tr>
      <th>What did<br>you do?<br></th>
      <th>When did<br>you do it?</th>
      <th>Where did<br>you do it?</th>
      <th>How long<br>did it take?</th>
      <th>Did you <br>finish?</th>
    </tr>
  </thread>
  <tbody>

    <% habits.forEach(function(h) { %>

      <tr>
        <td><%= h.what %></td>
        <td><%= h.when %></td>
        <td><%= h.where %></td>
        <td><%= h.howLong %></td>
        <td><%= h.finished %></td>
        <td><form 
          action="/habits/<%= h.id%>?_method=DELETE" 
          method= 'POST'
          class="delete-form"
          >
          <button type="submit">Delete habit</button>
          
        </form>
      </td>
        <td><a href="/habits/<%= h._id %>">Details</a></td>
      </tr> 
    <% }) %>
  </tbody>
</table>
<%- include('../partials/footer') %>
