<%- include('../partials/header') %>


<section id="show-page">
  <br>
  <div>What?: </div>
  <div><%= habit.what %></div><br>
  <div>When?: </div>
  <div><%= habit.when %></div><br>
  <div>Where?: </div>
  <div><%= habit.where %></div><br>
  <div>How long?: </div>
  <div><%= habit.howLong %></div><br>
  <div>Finished?: </div>
  <div><%= habit.finished %></div><br>
  
</section>

<%- include('../partials/footer') %>