<%- include('../partials/header') %>

<section id="show-page">
  <div id="habit-info">
    <div>What?: <%= habit.what %></div>
    <div>When?: <%= habit.when %></div>
    <div>Where?: <%= habit.where %></div>
    <div>How long?: <%= habit.howLong %></div>
    <div>Finished?: <%= habit.finished %></div>
  </div>
</section>

<div id="notes-section">
  <h2>Notes</h2>
  <% if (user) { %>
    <form id="note-form" method="POST" action="/habits/<%= habit._id %>/notes">
      <!-- <label for="notes">Notes:</label> -->
      <textarea id="notes" name="notes"></textarea>
      <input type="submit" value="Add Note">
    </form>
  <% } %>
  <% if (habit.notes && habit.notes.length) { %>
    <table id="notes-table">
      <thead>
        <tr>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% habit.notes.forEach(function(n) { %>
          <tr>
            <td><%= n.notes %></td>
            <td>
              <% if (user?._id.equals(n.user)) { %>
                <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
                  <button className="Delete-Note-Button"type="submit">Delete Note</button>
                </form>
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Notes Yet</h5>
  <% } %>
</div>

<%- include('../partials/footer') %>
