<%- include('../partials/header') %>


<section id="show-page">
  <br>
  <div>Team Name: </div>
  <div><%= habit.teamName %></div>
  <br>
  <div>Home or Away: </div>
  <div><%= habit.homeOrAway %></div>
  <br>
  <div>Game Location: </div>
  <div><%= habit.location %></div>
  <br>
  <div>Stadium: </div>
  <div><%= habit.stadium %></div>
  <br>
  <div>Opponent Record: </div>
  <div><%= habit.record %></div>
  <br>
  <div>Result: </div>
  <div><%= habit.result %></div>
</section>

<%- include('../partials/footer') %>